doctype html
html
   head
      link(rel="stylesheet" href="styles/wiki-pelis.min.css")
   body(ng-app="wiki-pelis")
      #main.container
         #app-view(ui-view)
   script(type="text/javascript", src="scripts/wiki-pelis.bundle.js")
